@model TRXpense.App.Web.ViewModels.TravelReportVM

<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    <h4 class="modal-title" id="myModalLabel">Travel Report Details:</h4>
</div>

<div class="container-fluid">
    <div class="row">
        <div class="modal-body">

            @*<div class="col-md-offset-1">
                <div id="info">
                    <h4>Info</h4>
                </div>

                <div class="col-md-offset-1">
                    <table>
                        <thead>
                            <tr>
                                <td width="150px"><span>Date of Birth</span></td>
                                <td>@Model.DateOfBirth.ToShortDateString()</td>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td><span>OIB</span></td>
                                <td>@Model.OIB</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>*@

            @*<div class="col-md-offset-1">
                <div id="info">
                    <h4>Expenses</h4>
                </div>

                <div class="col-md-offset-1">
                    <table>
                        <thead>
                            <tr>
                                <td width="150px"><span>Email</span></td>
                                <td>@Model.Email</td>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td><span>Phone</span></td>
                                <td>@Model.Phone</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>*@

            @*<div class="col-md-offset-1">
                <div id="info">
                    <h4>Company info</h4>
                </div>

                <div class="col-md-offset-1">
                    <table>
                        <thead>
                            <tr>
                                <td width="150px"><span>Position</span></td>
                                <td>@Model.Position</td>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td><span>Cost Center</span></td>
                                <td>@Model.CostCenter.Name</td>
                            </tr>
                            <tr>
                                <td><span>Role</span></td>
                                <td>@Model.UserRole</td>
                            </tr>
                            <tr>
                                <td><span>Superior</span></td>
                                <td>@Model.Superior.LastName</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>*@

        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
    </div>
</div>