@model TRXpense.App.Web.ViewModels.TravelReportVM

@{
    ViewBag.Title = "JOPPD";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>JOPPD</h2>
<hr />

@using (Html.BeginForm("GenerateJOPPD", "TravelReport", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
            {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary("", new { @class = "alert alert-danger" })

    <div>
        <div class="form-group">
            @Html.LabelFor(m => m.Departure, new { @class = "col-md-2 control-label" })
            <div class="form-group input-group date" id="datetimepickerDateFromJOPPD">
                @Html.EditorFor(m => m.Departure, new { htmlAttributes = new { @class = "form-control", placeholder = "YYYY.MM.DD", onkeydown = "return false", onpaste = "return false" } })
                <span class="input-group-addon">
                    <span class="glyphicon glyphicon-calendar"></span>
                </span>
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.Return, new { @class = "col-md-2 control-label" })
            <div class="form-group input-group date" id="datetimepickerDateToJOPPD">
                @Html.EditorFor(m => m.Return, new { htmlAttributes = new { @class = "form-control", placeholder = "YYYY.MM.DD", onkeydown = "return false", onpaste = "return false" } })
                <span class="input-group-addon">
                    <span class="glyphicon glyphicon-calendar"></span>
                </span>
            </div>
        </div>
        <hr />
        <input type="submit" class="btn btn-primary col-md-offset-11" value="Generate" />
    </div>
}


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")

    <script>
        $('#datetimepickerDateFromJOPPD').datetimepicker({
            format: 'MM/DD/YYYY'
        }).on('changeDate', function (ev) {
            $(this).datetimepicker('hide');
        });

        $('#datetimepickerDateToJOPPD').datetimepicker({
            format: 'MM/DD/YYYY'
        }).on('changeDate', function (ev) {
            $(this).datetimepicker('hide');
        });
    </script>
}