@model IEnumerable<TRXpense.App.Web.ViewModels.RegisterViewModel>

@{
    ViewBag.Title = "Employees";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using PagedList.Mvc;
@using PagedList;

<h2>Manage Employees</h2>
<hr />

@if (TempData["message"] != null)
{
    <div class="alertMessage">
        <span class="glyphicon glyphicon-warning-sign"></span>  @ViewBag.Message
    </div>
}

<form method="get" action="@Url.Action("Index", "Account")">
    <div class="col-md-4 col-md-offset-1">
        <div id="custom-search-input">
            <div class="input-group col-md-12">
                <input name="query" class="form-control input-lg" />
                <span class="input-group-btn">
                    <button class="btn btn-info btn-lg" type="submit">
                        <i class="glyphicon glyphicon-search"></i>
                    </button>
                </span>
            </div>
        </div>
    </div>
</form>

<span class="create-button pull-right">@Html.ActionLink(" ", "Register", "Account", new { @class = "btn btn-success glyphicon glyphicon-plus" })</span>

<div class="container">
    <div class="row">
        <div class="col-md-10 col-md-offset-1">
            <div class="panel panel-default panel-table">
                <div class="panel-body">
                    <table id="employees" class="table table-hover">
                        <thead>
                            <tr>
                                <td><h4>Employee</h4></td>
                                <td><h4>Position</h4></td>
                                <td><h4>Role</h4></td>
                                <td></td>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var employee in Model)
                            {
                                <tr id="row_@employee.Id">
                                    <td>
                                        @Html.ActionLink(employee.FirstName + " " + employee.LastName, "Details", "Account",
                                        new { id = employee.Id }, new { @class = "modal-link" })
                                    </td>
                                    <td>@employee.Position</td>
                                    <td>@employee.UserRole</td>
                                    <td>
                                        <div class="controlButtons">
                                            @Html.ActionLink(" ", "Edit", "Account", new { id = employee.Id }, new { @class = "btn btn-default glyphicon glyphicon-pencil" })
                                            <a href="#" class="btn btn-danger" onclick="ConfirmDelete('@employee.Id')"><i class="glyphicon glyphicon-trash"></i> </a>
                                        </div>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
                <div class="panel-footer">
                    <div class="row">
                        <div class="col col-xs-offset-3 col-xs-6">
                            <nav aria-label="Page navigation" class="text-center">
                                <ul class="pagination">
                                    @Html.PagedListPager((IPagedList)ViewBag.onePageOfEmployees, page => Url.Action("Index", new { page }))
                                </ul>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    @*<table id="employees" class="table table-hover">
        <thead>
            <tr>
                <td><strong>Employee</strong></td>
                <td><strong>Position</strong></td>
                <td><strong>Role</strong></td>
                <td></td>
            </tr>
        </thead>
        <tbody>
            @foreach (var employee in Model)
            {
                <tr id="row_@employee.Id">
                    <td>
                        @Html.ActionLink(employee.FirstName + " " + employee.LastName, "Details", "Account",
                        new { id = employee.Id }, new { @class = "modal-link" })
                    </td>
                    <td>@employee.Position</td>
                    <td>@employee.UserRole</td>
                    <td>
                        @Html.ActionLink(" ", "Edit", "Account", new { id = employee.Id }, new { @class = "glyphicon glyphicon-pencil" }) |
                        <a href="#" onclick="ConfirmDelete('@employee.Id')"><i class="glyphicon glyphicon-trash"></i> </a>
                    </td>
                </tr>
            }
        </tbody>
    </table>*@

    <div class="modal fade" id="deleteConfirmModal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <a href="#" class="close" data-dismiss="modal">&times;</a>
                    <h4 class="modal-title">Delete</h4>
                </div>
                <div class="modal-body">
                    <p>Are you sure you want to delete this Employee? </p>
                </div>
                <div class="modal-footer">
                    <a href="#" class="btn btn-default" data-dismiss="modal">Cancel</a>
                    <a href="#" class="btn btn-danger" onclick="DeleteEmployee()">Confirm</a>
                </div>
            </div>
        </div>
    </div>

    @*hidden field for storing current itemId*@
    <input type="hidden" id="hiddenId" />

</div>

@section scripts
{
    <script>

        var ConfirmDelete = function (id) {

            $("#hiddenId").val(id);
            $("#deleteConfirmModal").modal('show');
        }

        var DeleteEmployee = function () {

            var empId = $("#hiddenId").val();

            $.ajax({

                type: "POST",
                url: '@Url.Action("Delete")', @* or "/Account/Delete"*@
                data: { id: empId },
                success: function (result) {
                    // if this user is superior
                    if (result != true) {
                        bootbox.dialog({
                            message: "Please check if this employee is a superior to other employees or there are travel reports for this employee in the database!"
                                + "</br>"
                                + "You can only delete employees when there are no other employees assigned to them and they don't have any travel reports in the database.",
                            title: "<span style='color:#e20a0a;' class='glyphicon glyphicon-warning-sign'></span>"
                                + "<span style='color:#e20a0a;'><strong> Warning </strong></span> ",
                            buttons: {
                                success: {
                                    label: "Close",
                                    className: "btn-default",
                                },
                            }
                        });
                        $("#deleteConfirmModal").modal("hide");
                    }
                    // if this user is just an employee
                    else {
                        $("#deleteConfirmModal").modal("hide");
                        $("#row_" + empId).remove();
                    }
                }
            })
        }
    </script>
}