@model TRXpense.App.Web.ViewModels.RegisterViewModelEdit

@{
    ViewBag.Title = "ViewProfile";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@Model.FirstName @Model.LastName</h2>
<hr />

<div class="form-horizontal col-md-offset-1">
    <div id="info">
        <h4>Personal info</h4>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.DateOfBirth, new { @class = "col-md-2 control-label" })
        <div class="form-group input-group date" id="datetimepickerDateOfBirth">
            @Html.EditorFor(m => m.DateOfBirth, new { htmlAttributes = new { Value = Model.DateOfBirth.ToShortDateString(), @class = "form-control", disabled = "disabled" } })
            <span class="input-group-addon">
                <span class="glyphicon glyphicon-calendar"></span>
            </span>
        </div>
        @Html.LabelFor(m => m.OIB, new { @class = "col-md-2 control-label" })
        @Html.EditorFor(m => m.OIB, new { htmlAttributes = new { @class = "col-md-4 form-control", disabled = "disabled" } })
    </div>
    <div id="info">
        <h4>Contact info</h4>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Email, new { @class = "col-md-2 control-label" })
        @Html.EditorFor(m => m.Email, new { htmlAttributes = new { @class = "col-md-4 form-control", disabled = "disabled" } })
        @Html.LabelFor(m => m.Phone, new { @class = "col-md-2 control-label" })
        @Html.EditorFor(m => m.Phone, new { htmlAttributes = new { @class = "form-control", disabled = "disabled" } })
    </div>
    <div id="info">
        <h4>Company info</h4>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Position, new { @class = "col-md-2 control-label" })
        @Html.EditorFor(m => m.Position, new { htmlAttributes = new { @class = "col-md-4 form-control", disabled = "disabled" } })
        @Html.LabelFor(m => m.CostCenterId, new { @class = "col-md-2 control-label" })
        @Html.DropDownList("CostCenterId", (List<SelectListItem>)ViewBag.CostCenters, new { @class = "form-control", disabled = "disabled" })
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.UserRole, new { @class = "col-md-2 control-label" })
        @Html.DropDownList("UserRole", (IEnumerable<SelectListItem>)ViewBag.Roles, "-- Select Role --", new { @class = "col-md-4 form-control", disabled = "disabled" })
        @Html.LabelFor(m => m.SuperiorId, new { @class = "col-md-2 control-label" })
        @Html.DropDownList("SuperiorId", (List<SelectListItem>)ViewBag.Users, new { @class = "form-control", disabled = "disabled" })
    </div>
</div>

@*<div class="col-md-offset-1">
    <div id="info">
        <h3>Personal info</h3>
    </div>

    <div class="col-md-offset-1">
        <table>
            <thead>
                <tr>
                    <td width="150px"><span>Date of Birth</span></td>
                    <td>@Model.DateOfBirth.ToShortDateString()</td>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td><span>OIB</span></td>
                    <td>@Model.OIB</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

<div class="col-md-offset-1">
    <div id="info">
        <h3>Contact info</h3>
    </div>

    <div class="col-md-offset-1">
        <table>
            <thead>
                <tr>
                    <td width="150px"><span>Email</span></td>
                    <td>@Model.Email</td>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td><span>Phone</span></td>
                    <td>@Model.Phone</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

<div class="col-md-offset-1">
    <div id="info">
        <h3>Company info</h3>
    </div>

    <div class="col-md-offset-1">
        <table>
            <thead>
                <tr>
                    <td width="150px"><span>Position</span></td>
                    <td>@Model.Position</td>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td><span>Cost Center</span></td>
                    <td>@Model.CostCenter.Name</td>
                </tr>
                <tr>
                    <td><span>Role</span></td>
                    <td>@Model.UserRole</td>
                </tr>
                <tr>
                    <td><span>Superior</span></td>
                    <td>@Model.Superior.LastName</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>*@